<div class="row">
    <div class="col-md-12">
        <h1>Secured page</h1>
        <p>If you land here without login process ... there is a great problem.</p>
        <ul>
            
        </ul>
    </div>
</div>